In [1]:
#importing pandas and reading the Data CSV file that needs to be preprocessed.
import pandas as pd

adlist= pd.read_csv('Final.csv')
adlist.head()

,Unnamed: 0,S.No,URL,Title,Description,Class
0,0,0,https://newyork.craigslist.org/brk/hss/d/brook...,FREE inspection Real 18month GUARANTEE extermi...,Licensed exterminator here for you. Free in h...,Exterminator
1,1,1,https://newyork.craigslist.org/lgi/hss/d/west-...,"Home Improvements, Repairs and Renovations",Complete home repairs and renovations. No job ...,Handyman & General Services
2,2,2,https://newyork.craigslist.org/fct/hss/d/trumb...,PAINTERS ( M Grace Painting & Remodeling ) (Tr...,"I am professional, reliable and love what I do...",Painting & Wall paper
3,3,3,https://newyork.craigslist.org/fct/hss/d/stamf...,PAINTERS ( M Grace Painting & Remodeling ) (St...,"Do you have a room you want to Paint? ', '', '...",Painting & Wall paper
4,4,4,https://newyork.craigslist.org/lgi/hss/d/swing...,Swing Sets Installations!We install your Plays...,"Get your swing set install today!', 'Why keep ...","Installation, Repairs & Rennovation"

In [2]:
#checking the description of the data stored in the dataframe adlist
adlist.describe()

       Unnamed: 0        S.No
count  885.000000  885.000000
mean   442.000000  442.000000
std    255.621791  255.621791
min      0.000000    0.000000
25%    221.000000  221.000000
50%    442.000000  442.000000
75%    663.000000  663.000000
max    884.000000  884.000000

In [3]:
#observing the counts (occurrence) of each of the values under the column Class 
#Each entry is manually labelled against each of the house service listings
adlist.Class.value_counts()

Housekeeping and Cleaning              412
Handyman & General Services            119
Installation, Repairs & Rennovation     99
Others                                  76
Painting & Wall paper                   54
Caretaker/Personal Assisitant           47
Flooring                                37
Exterminator                            21
Movers and Packers                      20
Name: Class, dtype: int64

In [4]:
#checking the description of the data stored in the Title and Description columns of the dataframe.
print(adlist["Title"].describe())
print("\n")
print(adlist["Description"].describe())

count                                                   885
unique                                                  803
top       Ã°Å¸ÂÂ¡Ã¢â„¢Â¥Ã¯Â¸ÂHOME APARTMENT CLEANING S...
freq                                                      9
Name: Title, dtype: object


count                                                   885
unique                                                  753
top       "Ã°Å¸Å’Â¹Queenie's House Cleaning ServiceÃ°Å¸Å...
freq                                                     23
Name: Description, dtype: object

In [5]:
#no NaN values from previous observation. Creating a new column that appends Title and Description of a listing 
#and saves it under the fulllisting column
adlist["FullListing"] = adlist["Title"]+" "+adlist["Description"]
print(adlist["FullListing"].describe())

count                                                   885
unique                                                  885
top       $100 cleaning special (Midtown) Cleaning servi...
freq                                                      1
Name: FullListing, dtype: object

In [6]:
#importing nltk packages for tokenization and removal of stopwords
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
tokens = []
# saving the fullListing column of the dataframe into a list.
adlistings = adlist["FullListing"].tolist()

In [7]:
import re
stop_word = stopwords.words("english")
#extending the list of stopwords with redundant words which hold no meaning in addition to stopwords in nltk.corpus
stop_word.extend(["free","has","was","quot","gt","etc","si","li","ul","ol","de","por","en","la", "wo"])

for r in adlistings:
    filtered = []
    #using a regular expression to replace all non alphanumeric characters with a single whitespace
    r = re.sub("[^a-zA-Z0-9]"," ",r)
    r=r.lower()
    r = word_tokenize(r)   #tokenizing each of the words in the review r
    for w in r:
        if w not in stop_word:    
            filtered.append(w)   #appending all the non-stopwords to a filtered list of words.
    tokens.append(filtered)   #tokens is a list of all the tokenized listings

In [8]:
#lemmatizing all the tokenized listings
lemmatizer = nltk.stem.WordNetLemmatizer()
lemmatized_listing = []
for eachtoken in tokens:
    lemmatized_listing.append([lemmatizer.lemmatize(token) for token in eachtoken])

In [9]:
#stemming all the tokenized listings after they have been lemmatized
from nltk.stem import PorterStemmer
ps = PorterStemmer()
stemmed_listings = []

for eachlisting in lemmatized_listing:
    filtered = []
    for w in eachlisting:
        filtered.append(ps.stem(w))
    stemmed_listings.append(filtered)

In [10]:
#creating a new list to hold the detokenized form of the adlistings which is ready to be vectorized.
newlist = []
for toks in stemmed_listings:
    newlist.append(" ".join(toks))

In [12]:
#dropping the FullListings column from the dataframe as the data is no longer required.
adlist.drop('FullListing',axis=1,inplace=True)
#storing the processed data into the ProcessedListings Column which along with the Class column can be trained by the classification model.
adlist["ProcessedListings"] = newlist
#saving the final processed details into the CSV.
adlist.to_csv('Final_Processed.csv')